/bgm/*
/build/*
/player/*
/skin/*
/jre/*
/skin/*
/practice/*
/screenshot/*
/table/*
/course/*
/favorite/*
/lib/javafx*
/sound/*
songdata.db
songinfo.db
config.json
config_sys.json
beatoraja.jar
beatoraja_log.xml
/bin/
b.bat
/*.dll
*.cim
.idea/
.DS_Store
launch4j.xml.tmp
